@use "@/shared/styles/properties/vars" as *;
@use "@/shared/styles/properties/mixins" as *;

.profileForm {
    padding: 24px 32px;
    background-color: $bg;
    box-shadow: 5px 5px 5px $shadow;
    border-radius: 8px;
    gap: 12px;
}

.input {
    height: 48px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: $text-3;
}

.submitBtn {
    background-color: $bg-button;
    color: $text-button;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 3%;
    height: 48px;
    padding: 15px 42px 15px 40px;
}
.adminBtn {
    background-color: unset;
}
.passBtn {
    background-color: unset;
    color: unset;
}

.btnsDiv {
    display: flex;
    gap: 12px;
    @include mobile600 {
        flex-direction: column;
    }
    @include mobile375 {
        flex-direction: column;
    }

    & button {
        flex: 1;
    }
}