@use "@/shared/styles/properties/vars" as *;
@use "@/shared/styles/properties/mixins" as *;
@use "@/shared/styles/properties/fonts" as *;

.filterDiv {
    background-color: $bg;
    box-shadow: 5px 5px 5px $shadow;
    padding: 24px 32px;
    border-radius: 8px;
}

.submitBtn, .cancelBtn {
    background-color: $bg-button;
    width: 250px;
    height: 48px;
    padding: 15px 42px 15px 40px;
    @include button;
    letter-spacing: 3%;
    color: $text-button;

    @include mobile600 {
        width: 100%;
        padding: 5px 14px 5px 13px;
    }
    @include mobile375 {
        width: 100%;
        padding: 5px 14px 5px 13px;
    }
}
.cancelBtn {
    border: 1px solid $text-3;
    background-color: $bg;
    color: $text-3;
}