@use "@/shared/styles/properties/vars" as *;
@use "@/shared/styles/properties/mixins" as *;

.container {
    padding-inline: 250px;
    gap: 16px;
    margin-top: 32px;
}

.filterDiv {
    background-color: $bg;
    box-shadow: 5px 5px 5px $shadow;
    padding: 24px 32px;
    border-radius: 8px;
}

.submitBtn, .cancelBtn {
    background-color: $bg-button;
    color: $text-button;
    width: 250px;
    height: 48px;
    padding: 15px 42px 15px 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 3%;
}
.cancelBtn {
    border: 1px solid $text-3;
    background-color: $bg;
    color: $text-3;
}