@use "@/shared/styles/properties/vars" as *;
@use "@/shared/styles/properties/mixins" as *;
@use "@/shared/styles/properties/fonts" as *;

.card {
    padding: 24px 32px;
    background-color: $bg;
    box-shadow: 5px 5px 5px $shadow;
    border-radius: 8px;
    gap: 12px;
}

.pic {
    width: 100%;
    height: 200px;
    object-fit: fill;
}

.descr {
    @include p2;
    color: $text-4;
}
.descr span {
    font-size: 16px;
    color: $text-3;
}

.detailsWrap {
    display: flex;
    flex-direction: row;

    @include mobile600 {
        flex-direction: column;
        align-items: center;
    }
    @include mobile375 {
        flex-direction: column;
        align-items: center;
    }
}

.detailsImg {
    width: 100%;
    max-width: 400px;
    height: auto;
    flex-shrink: 0;

    @include mobile600 {
        max-width: 280px;
    }
    @include mobile375 {
        max-width: 220px;
    }
}

.cardDescr {
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    color: $text-4;
}
.cardDescr span {
    font-size: 20px;
    color: $text-3;
}

.inStock {
    padding: 12px 16px;
    font-weight: 500;
    line-height: 100%;
    color: $text;
    border-radius: 16px;
    text-align: center;
}

.submitBtn {
    background-color: $bg-button;
    @include button;
    color: $text-button;
    height: 48px;
    padding: 10px 20px;

    @include mobile600 {
        width: 100%;
        padding: 5px 12px 5px 10px;
    }
    @include mobile375 {
        width: 100%;
        padding: 5px 10px 5px 8px;
    }
}