@use "@/shared/styles/properties/vars" as *;

@mixin base {
    font-family: var(--font-nunito), -apple-system, sans-serif;
    font-weight: 500;
    color: $text-2;
}

@mixin h1 {
    @include base;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}

@mixin h1-mobile {
    @include base;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
}

@mixin h2 {
    @include base;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
}

@mixin h2-mobile {
    @include base;
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
}

@mixin h3 {
    @include base;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

@mixin h3-mobile {
    @include base;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
}

@mixin h4 {
    @include base;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
}

@mixin h4-mobile {
    @include base;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}

@mixin p1 {
    @include base;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

@mixin p1-mobile {
    @include base;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
}

@mixin p2 {
    @include base;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: $text-4;
}

@mixin p2-mobile {
    @include base;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: $text-4;
}

@mixin button {
    @include base;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
}

@mixin button-mobile {
    @include button;
    font-size: 14px;
}