$bg: #F9F9F9;
$bg-card: #FFFFFF;
$bg-card-2: #d2e1e7;
$text: #FFFFFF;
$text-2: #000000;
$text-3: #333333;
$text-4: #666666;

$bg-header: darkblue;
$bg-header-2: #228BE6;
$bg-navigation: #1A237E;
$bg-whyus-card: linear-gradient(45deg, #1642c7, #a8f4fd);

$bg-button: #375FFF;
$text-button: #FFFFFF;

$bg-news-title: #1120c5;
$bg-promo-title: #07ac07;

$shadow: rgba(0,0,0,0.1);
$bg-catalog-card: #F2F2F2;
$bg-catalog-card-hover: #FBFBFB;

$bg-status-New: #2196F3;
$bg-status-Accepted: #FFE100;
$bg-status-Cancelled: #FF5757;
$bg-status-Completed: #00E300;