@use "@/shared/styles/properties/vars" as *;
@use "@/shared/styles/properties/mixins" as *;

.addBtn {
    height: 43px;
    border: 1px solid $bg-button;
    color: $bg-button;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 3%;
}

.input {
    height: 48px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    color: $text-3;
}

.submitBtn, .cancelBtn {
    height: 53px;
    padding: 15px 42px 15px 40px;
    background-color: $bg-button;
    color: $text-button;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 3%;
}
.cancelBtn, .cancelBtn:hover {
    background-color: $bg;
    border: 1px solid $text-4;
    color: $text-4;
}

.form {
    padding: 24px 32px;
    background-color: $bg;
    box-shadow: 0 4px 12px $shadow;
    border-radius: 8px;
    gap: 12px;
}