@use "@/shared/styles/properties/vars" as *;
@use "@/shared/styles/properties/mixins" as *;

.card {
    padding: 16px 20px;
    background-color: $bg;
    border-radius: 12px;
    box-shadow: 5px 5px 5px $shadow;
}

.cardType {
    font-size: 20px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 50%;
    color: $text;
}
.News {
    background-color: $bg-news-title;
}
.Promo {
    background-color: $bg-promo-title;
}

.title {
    font-size: 36px;
    font-weight: 600;
    word-break: break-word;
}