@use "@/shared/styles/properties/mixins" as *;
@use "@/shared/styles/properties/vars" as *;
@use "@/shared/styles/properties/fonts" as *;

.headerUp {
    padding: 6px 15px;
    background-color: $bg-header-2;
}
.headerMain {
    padding: 20px 24px;
    background-color: $bg-header;
    position: relative;

    @include mobile600 {
        padding: 12px 16px;
    }
    @include mobile375 {
        padding: 10px 12px;
    }
}

.companyGroup {
    gap: 12px;
    cursor: pointer;
    flex-shrink: 0;
}

.companyName {
    @include h4;
    @include mobile375 {
        @include h4-mobile;
    }
    color: $text;
}

.searchInput {
    border-radius: 8px;
    width: 900px;
    height: 50px;
    @include p1;
    padding-inline: 16px;

    @include desktop1200 {
        width: 750px;
    }
    @include tablet900 {
        width: 450px;
    }
    @include mobile600 {
        display: none;
    }
    @include mobile375 {
        display: none;
    }
}
.searchInputMob {
    display: none;
    border-radius: 8px;
    width: 900px;
    height: 50px;
    @include p1;
    padding-inline: 16px;
    z-index: 1;
    @include mobile600 {
        width: 100%;
        &[data-visible="true"] {
            display: block;
        }
    }
    @include mobile375 {
        width: 100%;
        &[data-visible="true"] {
            display: block;
        }
    }
}
.inputMob {
    position: absolute;
    top: 25%;
    left: 16px;
    width: 100%;

    @include mobile600 {
        position: static;
        order: 3;
        width: 100%;
        margin-top: 8px;
    }
    @include mobile375 {
        position: static;
        order: 3;
        width: 100%;
        margin-top: 8px;
    }
}
.searchSection {
    margin-right: 8px;
}

.searchIcon, .searchIconMob {
    background-color: $bg-button;
    & svg path {
        stroke: $text-button;
    }
}
.searchIcon {
    @include mobile600 {
        display: none;
    }
    @include mobile375 {
        display: none;
    }
}
.searchIconMob {
    display: none;
    @include mobile600 {
        display: block;
    }
    @include mobile375 {
        display: block;
    }
}

.cartIcon {
    background: $bg-header;
    & svg {
        stroke: $text-button;
    }
}

.login, .loginMob {
    @include button;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login {
    @include mobile600 {
        display: none;
    }
    @include mobile375 {
        display: none;
    }
}
.loginMob {
    display: none;
    padding: 0;
    @include mobile600 {
        display: block;
    }
    @include mobile375 {
        display: block;
    }
}

.profileBtn:hover {
    background-color: $text-button;
    color: $bg-button;
}

.navBtns {
    width: 100%;
    flex-grow: 1;
    gap: 0;
    background-color: $bg-navigation;

    @include mobile600 {
        display: none;
    }
    @include mobile375 {
        display: none;
    }
}
.navBtns button {
    @include button;
    border: 1px solid $shadow;
    border-radius: 0;
    height: 53px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    color: $text-button;
}

.burgerNav {
    display: none;
    @include mobile600 {
        display: block;
    }
    @include mobile375 {
        display: block;
    }
}

.categories {
    background-color: #F4F4F4;
    padding: 0;
    left: 0 !important;
    offset: 0;
    border-radius: 0;
    max-height: 450px;
    overflow-y: auto;
}
.cat {
    @include p1;
    padding: 8px 20px;
    word-break: break-word;

    &:hover {
        color: $bg-button;
        font-weight: 600;
        background-color: $bg-catalog-card-hover;
        cursor: pointer;
        box-shadow: 0 4px 12px $shadow;
    }
}